.ninja_deps
.ninja_log
build/
.DS_Store
CMakeFiles
Makefile
CMakeCache.txt
CTestTestfile.cmake
src/LinkedListTests
src/SmartPointerTests
src/StackWListTests
src/Testing/
build.ninja
cmake_install.cmake
src/rules.ninja
src/llist
src/test
src/evenOddPrinter
src/lib
src/src
