.ninja_deps
.ninja_log
build/
src/CMakeFiles
src/CTestTestfile.cmake
src/LinkedListTests
src/SmartPointerTests
src/StackWListTests
src/Testing/
src/build.ninja
src/cmake_install.cmake
src/rules.ninja
src/llist
src/test
src/evenOddPrinter
src/lib
src/src